# npm publish sırasında dışlanacak dosyalar
.git/
.github/
.vscode/
node_modules/
tests/
dist/
.env.*
.env
.env.prod
.env.production
.env.development
.env.orakconfig
*.log
.npmignore
.gitignore
.gitattributes
USAGE_EXAMPLES.md
orak-config.json